{{#each daycares as |daycare|}}
<section class="card">
  <a href="#">
    <header>{{daycare.Day_Care}}</header>
    {{!-- <img src="/images/{{city.city}}.jpg" alt="{{city.city}}"> --}}
  </a>
</section>
{{/each}}