{{#each cities as |city|}}
<section class="card">
  <a href="/daycare/{{city.city}}">
    <header>{{city.city}}</header>
    <img src="/images/{{city.city}}.jpg" alt="{{city.city}}">
  </a>
</section>
{{/each}}