<div class="daycare">
{{#each cities as |city|}}
<section class="card" id ="card">
  <a href="/daycare/{{city.city}}">
    <header id="title">{{city.city}}</header>
    <img src="/images/{{city.city}}.jpg" alt="{{city.city}}">
  </a>
</section>
{{/each}}

</div>