    <nav class="navbar mt-2">
          
            <a href="/" id="home"class="navbar-item is-hoverable pt-1"><i class="fas fa-home"></i> Home</a> 
            <a href="/daycare" id="daycare1"class="navbar-item is-hoverable pt-1"><i class="fas fa-search"></i> Daycare</a> 
            <a id="logout1" href="#" class="navbar-item is-hoverable pt-1"></i> Logout</a>
    </nav>
    <div class="mb-5 pt-3">
        <a href="/review/create/"><button id="create-post" class="button is-primary is-pulled-right">create post</button></a>
        
        <h2 class="title pb-4">Website Reviews</h2><hr>
{{#if reviews.length}}
    

    {{#each reviews as |review|}}
        {{> review-details review}}
        
            <a href="/review/edit/{{review.id}}"><button class="button mb-5 ml-5 is-warning">edit post</button></a>
        
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">There is no posts</h6>

{{/if}}
</div>
<script>
    document.getElementById("wrapper").style.display="none";
    document.getElementById("main").style.display="block";
  </script>