<!-- displaying articles -->
<a href="/review"  margin-botton="5px" class="is-pulled-right"> &larr; Back to Reviews</a>
{{> review-details post}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}

{{> comments post.Comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}

<script>
    document.getElementById("wrapper").style.display="none";
    document.getElementById("main").style.display="block";
  </script>